.vs/
obj/
bin/
*.Development.json
appsettings.Development.json
/src/IdentityService/IdentityService.Api/appsettings.Development.json
/src/IdentityService/IdentityService.Api/appsettings.Development.json
